<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png">
        <p>
            Megh Agarwal, is a 12th grade student from Podar International School, who loves taking on challenges in various technological aspects. He has been programming for more than 5 years now and is an experienced web developer. A computer science prodigy, he firmly believes positivity is the road to success. Knowledge, positivity, and creativity drives him and his actions!
        </p>
    </div>
    
    {{>footer}}
</body>

</html>